/*popup.html*/

* {
    width: 100%;
    font-family: 'Comic Sans MS';
}

#lineTable td {
    border: 1px solid black;
    margin: 0px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

.leftItem {
    width: 70%;
    display: inline-block;
    text-align: end;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.rightItem {
    width: 20%;
    display: inline-block;
    text-align: start;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: lightgray;
}

html {
    background-color: midnightblue;
}

.nowrap {
    white-space: nowrap;
}

#countingBox {
    display: flex;
    width: 750px;
}

h4 {
    text-align: center;
}

#frameCountBox {
    width: 20%;
    border: 1px solid black;
    background-color: lightgreen;
    border-radius: 25px;
}

#hingeCountBox {
    width: 20%;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 25px;
}

#strikeCountBox {
    width: 20%;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    border-radius: 25px;
}

#prepCountBox {
    width: 38%;
    border: 1px solid black;
    background-color: lightcoral;
    border-radius: 25px;
}

#errorContainer {
    width: 750px;
    background-color: aliceblue;
    border-radius: 25px;
    text-align: center;
}