/*popup.html*/

.longForm {
    width: 30%;
}

* {
    width: 100%;
    font-family: 'Comic Sans MS';
}

td {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

tr {
    
}

table {
    border-collapse: collapse;
}

thead {
    background-color: lightgray;
}

html {
    background-color: lightslategray;
}

.nowrap {
    white-space: nowrap;
}

